<!DOCTYPE html>

<html lang="en-US">

<head>
    <title>DJI Fanpage</title>
</head>

<body>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <% include ../partials/header %>

  <% Object.keys(articles).forEach(function (id) { %>
    <article>
      <h2><%= articles[id].title %></h2>
      <li><a href='<%= articles[id].link %>'><%= articles[id].title %></a></li>
    </article>
  <% }) %>
</body>

</html>
