<!DOCTYPE html>

<html lang="en-US">
<head>
    <title><%= drone.title %></title>
</head>

<body>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <% include ../partials/header %>

  <h3><%= drone.title %></h3>

  <img src='<%= drone.image %>'><br>

  <a href='/'>Back to home Page</a>
</body>
</html>
