<body>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <title><%= drone.title %></title>

  <% include ../partials/header %>

  <h3><%= drone.title %></h3>

  <img src='<%= drone.image %>'><br>

  <a href='/'>Back to home Page</a>
</body>
